<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <title></title>

</head>

<body>

  <div class="box" id="heading">
    <h1> <%=lisTitle%> </h1>
  </div>

  <div class="box">
    <%for(var i=0;i<addNew.length;i++){%>
    <div class="item">
      <input type="checkbox">
      <p><%=addNew[i]%></p>
    </div>
    <% }%>
    <form action="/" method="post">
      <input type="text" name="newList" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%=lisTitle%> >+</button>
    </form>

  </div>








</body>

</html>
